## Project 3 MVP Proposal

### Domain
For Project 3 I plan to examine political engagement in response to the 2016 election through survey data from the Pew Research Center. Although I have no professional experience with this topic, I have personal interest due to being the product of a split household and therefore exposure to very different views not just of the current state of politics and the electorate in America, but of the nature of the change during a time which all sides posit as one of great change. 

### Data
The data I intend to work with is the from the summer 2017 Pew Research Political Typology survey, available online at http://www.people-press.org/dataset/political-typology-2017/. There are 164 features in the dataset, all of which are categorical. Some are paired due to randomization in wording of questions. Some of the variables I intend to utilize are as follows (with some paraphrasing in the descriptions): 

Variable | Description
--------|--------
qb27 (Target) | Since the election, would you say you're paying more, less, or the same amount of attention to politics?
Income | 
Religion | 
Race | 
Age | 
Education | 
Sex | 
Marital |
Interviewer Race | 
Party | Political Party
Party Strength | Strength of feeling of affiliation towards a party
OFTVOTE | How often would you say you vote?
qb2 | Are you satisfied with the way things are going in this country today?
qb28 | When you talk politics with people who have a different opinion of Donald Trump than you do is it interesting and informative or stressful and frustrating
qb29 | Have you lived in your community your entire life or other places?
qb31 | Do you think the US involvement in the global economy is a good thing?
q40 | also maybe cheating
Q.BX | How big a problem is economic inequality in this country today?
E.2 | Are you currently in school?
E.1 | Are you currently retired?
e3 | Are you currently employed?
E11 | Could your household cover expenses if you had to live only off savings for three months?
Q51 | ll, mm, pp, rr (maybe too easy)
qb80 | Is it possible to have economic policies that benefit everyone in the country, or will pretty much every policy end up benefitting some at the expense of others?

Since there are so many, I will continue to play with the data and find correlations

### Known Unknowns
This data set has an abundance of features to select from. One related problem is that the columns in the data set are not particularly clearly label, and so going through and making them intelligible will take some unknown amount of time -- I don't anticipate it being inordinate but not having completed any similar tasks, I am most likely falling victim to the planning fallacy. Additionally, given the plethora of features, I suspect the feature selection process might become arduous. So far most of the modelling we have done seems relativeley straightforward in terms of implementing in code, but it ended up being more difficult than expected for Project 2 so I suspect a similar outcome for this project.

### Unknown unknowns
Probably a lot

In [1]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as pd_sql

In [2]:
df = pd.read_csv('./Typology-17/Typology_17.csv')
df.head()

,Unnamed: 0,mergeid,sample,int_date,phase,fcall,attempts,refusal,stimes,ilang,...,ql1,ql1a,qc1,ll,cp,money2,ckinfo,iphoneuse,hphoneuse,weight
0,0,1100009.0,1.0,61417.0,1.0,170608.0,4.0,0.0,4.0,1.0,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0,1.064516
1,1,1100012.0,1.0,60817.0,1.0,170608.0,1.0,0.0,1.0,1.0,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0,4.000000
2,2,1100014.0,1.0,60817.0,1.0,170608.0,1.0,0.0,1.0,1.0,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0,1.612903
3,3,1100018.0,1.0,61417.0,1.0,170608.0,6.0,1.0,6.0,1.0,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0,3.741935
4,4,1100019.0,1.0,60817.0,1.0,170608.0,1.0,0.0,1.0,1.0,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0,1.258065

In [3]:
df.shape

(5009, 164)

In [5]:
for column in df.columns:
    print(column)

Unnamed: 0
mergeid
sample
int_date
phase
fcall
attempts
refusal
stimes
ilang
p1version
cregion
state
density
usr
scregion
sstate
susr
igender
irace
llitext1
llitext2
qs1
cpitext1
cpitext2
qa1
qa1a
qb2
qb3
qb4
qa12
qa14a
qa14b
qa14c
qa14d
qa14e
qa15a
qa15b
qb18a
qb18b
q25a
q25b
q25c
q25d
q25f
q25g
q25i
q25k
q25n
q25p
qa26
qa27
qb27
qb28
qb29
qa30
qb30
qb31
oftvote
qb32
qb33
qb33a
cheat
qa36a
qa36b
qa36c
qa36d
qa37a
qa37b
qa37c
qa37d
q40
qb42a
qb42b
qb42c
qb42d
qb46
q50r
q50u
q50y
q50aa
q50cc
q50ee
q50hh
qbx
qe2
qe1
qe3
employ1
employ7
qe11
q51jj
q51ll
q51mm
q51nn
q51pp
q51qq
q51rr
qb52
qb52x
qb53a
qb53b
qb53c
qb54
qb54a
qb55a
qb55b
qa62
qa77
qa77a
qa77b
qa78
qb80
qa126
qa126a
qa126b
qa127
qa128
qa129
qa143
ideoconsist
typogroups
sex
age
educ2
hisp
racecmb
racethn
racethn2
birth_hisp
usborn
marital
citizen
relig
chr
born
attend
income
inchi
reg
party
partyln
partystr
partysum
qb166
qb167
qa168
qa169
ideo
partyideo
hh1
hh3
adults
child
ql1
ql1a
qc1
ll
cp
money2
ckinfo
iphoneuse
hphoneuse
weight

In [6]:
tuple_list = []
for column in df.columns:
    tuple_list.append((str(df[column].isnull().sum()), column))

tuple_list = sorted(tuple_list, reverse=True)
for tuple in tuple_list:
     print(tuple[1] + ' has ' + tuple[0] + ' null entries')

usborn has 585 null entries
ql1a has 4910 null entries
chr has 4756 null entries
employ7 has 4652 null entries
qb54a has 4623 null entries
qb33a has 4622 null entries
citizen has 4446 null entries
birth_hisp has 4424 null entries
qa77b has 4412 null entries
inchi has 4360 null entries
ckinfo has 4236 null entries
employ1 has 4071 null entries
qa126b has 4025 null entries
qb166 has 3973 null entries
qa168 has 3959 null entries
qa169 has 3779 null entries
ql1 has 3754 null entries
llitext2 has 3754 null entries
llitext1 has 3754 null entries
qb167 has 3753 null entries
qa126a has 3527 null entries
qa77a has 3172 null entries
cheat has 2954 null entries
partyln has 2862 null entries
qa1a has 2639 null entries
qa78 has 2505 null entries
qa77 has 2505 null entries
qa62 has 2505 null entries
qa37d has 2505 null entries
qa37c has 2505 null entries
qa37b has 2505 null entries
qa37a has 2505 null entries
qa36d has 2505 null entries
qa36c has 2505 null entries
qa36b has 2505 null entries
qa36a has 2505 null entries
qa30 has 2505 null entries
qa27 has 2505 null entries
qa26 has 2505 null entries
qa15b has 2505 null entries
qa15a has 2505 null entries
qa14e has 2505 null entries
qa14d has 2505 null entries
qa14c has 2505 null entries
qa14b has 2505 null entries
qa14a has 2505 null entries
qa143 has 2505 null entries
qa129 has 2505 null entries
qa128 has 2505 null entries
qa127 has 2505 null entries
qa126 has 2505 null entries
qa12 has 2505 null entries
qa1 has 2505 null entries
q51jj has 2505 null entries
q50y has 2505 null entries
q25i has 2505 null entries
q25f has 2505 null entries
q25d has 2505 null entries
q25a has 2505 null entries
p1version has 2505 null entries
marital has 2505 null entries
ideoconsist has 2505 null entries
qe3 has 2504 null entries
qe2 has 2504 null entries
qe11 has 2504 null entries
qe1 has 2504 null entries
qbx has 2504 null entries
qb80 has 2504 null entries
qb55b has 2504 null entries
qb55a has 2504 null entries
qb54 has 2504 null entries
qb53c has 2504 null entries
qb53b has 2504 null entries
qb53a has 2504 null entries
qb52x has 2504 null entries
qb52 has 2504 null entries
qb46 has 2504 null entries
qb42d has 2504 null entries
qb42c has 2504 null entries
qb42b has 2504 null entries
qb42a has 2504 null entries
qb4 has 2504 null entries
qb33 has 2504 null entries
qb32 has 2504 null entries
qb31 has 2504 null entries
qb30 has 2504 null entries
qb3 has 2504 null entries
qb29 has 2504 null entries
qb28 has 2504 null entries
qb27 has 2504 null entries
qb2 has 2504 null entries
qb18b has 2504 null entries
qb18a has 2504 null entries
q51rr has 2504 null entries
q51qq has 2504 null entries
q51pp has 2504 null entries
q51mm has 2504 null entries
q25p has 2504 null entries
partystr has 2147 null entries
born has 1525 null entries
qs1 has 1255 null entries
qc1 has 1255 null entries
money2 has 1255 null entries
cpitext2 has 1255 null entries
cpitext1 has 1255 null entries
hh3 has 1095 null entries
weight has 0 null entries
usr has 0 null entries
typogroups has 0 null entries
susr has 0 null entries
stimes has 0 null entries
state has 0 null entries
sstate has 0 null entries
sex has 0 null entries
scregion has 0 null entries
sample has 0 null entries
relig has 0 null entries
reg has 0 null entries
refusal has 0 null entries
racethn2 has 0 null entries
racethn has 0 null entries
racecmb has 0 null entries
q51nn has 0 null entries
q51ll has 0 null entries
q50u has 0 null entries
q50r has 0 null entries
q50hh has 0 null entries
q50ee has 0 null entries
q50cc has 0 null entries
q50aa has 0 null entries
q40 has 0 null entries
q25n has 0 null entries
q25k has 0 null entries
q25g has 0 null entries
q25c has 0 null entries
q25b has 0 null entries
phase has 0 null entries
partysum has 0 null entries
partyideo has 0 null entries
party has 0 null entries
oftvote has 0 null entries
mergeid has 0 null entries
ll has 0 null entries
irace has 0 null entries
iphoneuse has 0 null entries
int_date has 0 null entries
income has 0 null entries
ilang has 0 null entries
igender has 0 null entries
ideo has 0 null entries
hphoneuse has 0 null entries
hisp has 0 null entries
hh1 has 0 null entries
fcall has 0 null entries
educ2 has 0 null entries
density has 0 null entries
cregion has 0 null entries
cp has 0 null entries
child has 0 null entries
attend has 0 null entries
attempts has 0 null entries
age has 0 null entries
adults has 0 null entries
Unnamed: 0 has 0 null entries

In [7]:
df['qb27'].isnull().sum()

2504

In [8]:
import psycopg2
from sqlalchemy import create_engine
engine = create_engine('postgresql://ubuntu:ubuntu@18.221.53.115:5432/typology_17')

In [10]:
df.to_sql('typology_17', engine)

In [ ]:
""" Did sql on terminal, commands:
CREATE VIEW target_respondents AS
SELECT *
FROM typology_17
WHERE qb27 IS NOT NULL;

CREATE VIEW mvp_set AS
SELECT qb27, income, relig, racecmb, educ2, sex, party, oftvote, age,
qb28, qb31, qe1, qe2, qe3, qe11, qbx, q51ll, q51mm, q51pp
FROM target_respondents;
"""